body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#site-wrapper {
    display: flex;
    flex-direction: column;
}

#home-section {
    background-image: url(images/StockSnap_XYCH43DMBB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

#top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    background-color: rgba(8, 12, 17, 0.8);
    /* background-color: rgb(8, 12, 17); */
}

#logo {
    width: 40px;
    margin: 1vh 0 0.5vh 1.2vw;
}

#nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0 0 0;
}

#nav-li-item {
    list-style: none;
    margin: 0 2.5vw;
}

#nav-li-item a {
    text-decoration: none;
    color: #ffffff;
}

#nav-li-item a:hover {
    color: #1e90ff;
}

#links {
    margin: 16vh 35vw;
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

#link-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#link-item:hover {
    color: #1e90ff;
}








#projects-section {
    background-color: darkmagenta;
    height: 60vh;
    padding: 5vh 8vw;
}

#projects-section h3 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 4.5vh;
    color: white;
    letter-spacing: 0.3vw;
    /* word-spacing: 5ww; */
}

#projects-list {
    display: flex;
    flex-direction: row;
}

#project-item {
    list-style: none;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 1vw;
    background-color: #34364e;
    /* transform: translateY(); */

}

#project-title-div {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding-top: 2hv;
    padding-bottom: 1vh;
    align-items: center;
    font-weight: 600;
    flex-direction: column;
    color: rgb(45, 185, 150);
}

#project-icon {
    width: 20%;
    margin: 1vh 0;
}

#project-item p {
    padding: 1vh 2vw;
    text-align: center;
    color: #ddd4d4;
}

#project-item:hover {
    transition-duration: 0.3s;
    transform: translateY(-12px);
}









#contact-section {
    background-color: cornflowerblue;
    height: 74vh;
    display: flex;
}

#map {
    border: 3px solid black;
    width: 50vw;
    margin: 1%;
    background-color: violet;
}

#form {
    border: 3px solid black;
    width: 50vw;
    margin: 1%;
    padding: 2%;
    background-color: thistle;
}

#text-area {
    margin-left: 3vw;
}

#submit-btn {
    margin-left: 45%;
}















#footer-section {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: blanchedalmond;
}




@media only screen and (max-width: 700px) {

    #home-section {
        height: max-content;
    }

    #links {
        margin: 16vh 25vw;
        display: flex;
        justify-content: space-between;
        width: 50vw;
    }

    #top-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 999;
        position: fixed;
        background-color: rgba(8, 12, 17, 0.8);
    }

    #projects-section {
        height: max-content;
    }

    #projects-list {
        display: flex;
        flex-direction: column;
    }

    #project-item {
        margin-bottom: 5vh;
    }

    #project-item:focus {
        background-color: #454970;
    }

    #contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vh 5vw;
        height: max-content;
    }

    #map, #form {
        width: 90vw;
    }

}